.icon{
    transition: .1s;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    background-color: var(--purple);
    border-radius: 100%;
    margin: 0;
}